.button-detail-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.delete-button {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
    border-style: none;
    padding: 10px 25px 10px 25px;
    margin: 10px 0 50px 0;
}
